@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  
  body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(198, 188, 255, 0.3);
    color: #222;
    line-height: 1.7;
    font-size: 18px;
    font-weight: lighter;
  }

  .horizontal {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}