@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  
  body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(198, 188, 255, 0.3);
  }