.homeContainer {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'Poppins', "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .headerContainer  {
      width: 90%;
      margin: 0 auto;
  }

  .button {
    color: #C6BCFF;
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    height: 50px;
    width: 180px;
    color: #121212;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #C6BCFF;
    font-weight: bold;
  }

  .button:hover {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid aqua;
    transition: 0.1s ease-in;
  }

  #about {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-style: wavy;
    color: #121212;
    padding-right: 2px;
    padding-left: 2px;
  }

  @media (width < 1000px)