.navbarContainer {
    height: 100%;
    position: fixed;
    position: -webkit-fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 3rem;
    width: 6.563rem;
    padding-right: 4rem;
}

  .navbarButtons {
      list-style: none;
      margin-bottom: 1rem;
      text-align: right;
  }
  
  #logo {
    margin-bottom: 3rem;
    cursor: pointer;
  }

  .navigation {
      width: 100vh;
  }
  
  .menuButton {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    color: var(--mainColor);
    border: 0;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    background-color: var(--mainColor);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 5%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
    font-size: 2rem;
  }

  .menuButton:hover {
    background-color: var(--mainColor);
  }

  .navbarButtons a {
    color: var(--black);
    text-decoration: none;
    padding-right: 6px;
    padding-left: 6px;
    border: 2px solid rgba(0, 0, 0, 0);
  }

  .navbarButtons :hover{
      background-color: var(--mainColor);
  }
  

  @media only screen and (max-width: 768px) {
    .menuButton {
        display: block;
        position: -webkit-fixed;
        position: fixed;
        z-index: 2;
    }
    .navbarContainer {
        width: 100vw;
    }
    .navbarContainer ul {
        display: none;
        position: absolute;
        top: 5%;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--white);
      }
    .navbarContainer.expanded ul {
        display: block;
    }
    .navbarContainer li {
        text-align: center;
        margin-bottom: 1rem;
     } 

    .navbarContainer li::selection {
        background-color: var(--mainColor);
    }
  }