.portfolioTemplate {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

.cover {
    position: relative;
    height: 100vh;
}

.coverContainer {
    background-color: aqua;
    width: 50%;
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 25%;
}

.coverTitle {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.coverContainerLeft {
    width: 50%;
}

.overviewContainer {
    display: flex;
    flex-direction: column;
}

.coverContainerRight {
    width: 50%;
    height: auto;
    position: relative;
    margin: 5px;
}

.coverImage {
    height: inherit;
    width: inherit;
}

.overviewBox {
    border: 3px solid #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.overviewSubBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 1px #f6f6f6;
}

.overviewBoxHeading {
    flex-direction: row;
    width: 25%;
}

.overviewBoxContent {
    flex-direction: row;
    width: 75%;
}

.sectionDivider {
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: small;
}