.portfolioTemplate {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

.cover {
    position: relative;
    height: 100vh;
}

.coverContainer {
    display: flex;
    flex-direction: row;
}

.coverContainerLeft {
    width: 50%;
}

.coverContainerRight {
    width: 50%;
    height: auto;
    position: relative;
    margin: 5px;
}

.coverImage {
    height: inherit;
    width: inherit;
}

.overviewBox {
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.overviewSubBox {
    flex-direction: row;
}

.sectionDivider {
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: small;
}