
   .portfolioContainer {
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .portfolioTitle {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    text-decoration: none;
    color: white;
  }
  
  /* MENU ITEM STYLING */
  
  .portfolioItem {
    width: 100%;
    height: 350px;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .portfolioItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .portfolioItemRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
  }

  .portfolioItemLeft {
    width: 50%;
    height: 100%;
    position: relative;
    margin: 0px;
}

  .itemTags {
      border: 0.06rem solid gray;
      margin-right: 0.3em;
      margin-bottom: 1em;
      padding: 0.1em 0.3em;
      line-height: 1.9;
  }

  .itemTagsContainer {
      margin: 0;
      height: fit-content;
  }
  
  @media only screen and (width < 400px) {
      .portfolioItem {
          flex-direction: column;
          height: 80vh;
          width: 100%;
          margin-top: 0;
      }
      .portfolioItemLeft {
          height: 35%;
          width: 100%;
      }
      .portfolioItemRight {
        height: 65%;
        width: 100%;
        padding-top: 0
    }
    .portfolioItemRight h1 {
        overflow: hidden;
    }
    .item {
        overflow: hidden;
    }
    
    .portfolioContainer {
        width: 100vw;
        margin: 5%;
    }
  }